html, body {
    max-width: 100%;
    overflow-x: hidden;
}

nav#nav.navbar.navbar-expand-lg{
    min-height: 90px;
}

#nav {
    background-color: #004165;
    
}

#nav img {
    max-width: 87px;
    max-height: 72px;
}

#nav h2 a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.navbar a {
    color: #ffffff;
    display: inline;
}

a.nav-item.nav-link{
    font-size: 2vh;
}

div.navbar{
    margin-left: 40vw;
}

.navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #fff9f900;
        border: 1px solid white;
        border-radius: .25rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


#scrolldown {
    height: 52px;
}

div.col.align-self-center{
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


#home h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#home h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#home p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#home strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-weight: bold;
}

#scrolldown h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#home.col{
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron {
    padding-top: 22em;
    height: 50vh;
    background-image: url(images/ptm.jpeg);
    background-size: cover;
    opacity: 100%;
    position: initial;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* .jumbotron .text {
    background-color: white;
    color: black;
    z-index: 1;
    margin-top: 10vvh;
    margin-right: 55vw;


} */

img {
    /* max-width: auto;
    max-height: 100%; */
    height: 597px;
    width: 464px;
    margin-left: 50px;
    margin-right: 50px;

}



#home {
    margin-bottom: 25px;
}
#aboutus #down-triangle {
    background-color: white;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14vh 100vw 0 0px;
    border-color: #004165 transparent transparent ;
}
#aboutus #ptm-tagline {
    background-color: white;
    color: black;
    /* width: 100vw;
    height: 20vh;
    padding: 5vh; */
}

#aboutus #ptm-tagline div.meeting{
    background-color: white;
    color: black;
    font-size: 1px;

   
}

#aboutus #aboutus-content{

    /* height: 80vh; */
    position: initial;
    margin-left: 10vw;
    margin-right: 10vw;
}



#aboutus a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
}

#aboutus h3  {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#aboutus h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#aboutus #ptm-tagline div.row div.meeting{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}


#aboutus p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
}

 #quote {
     z-index: 100;

 }

 #quote blockquote {
     color: white;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 30px;
     vertical-align: middle;
 }

 .blockquote-footer {
     font-size: 1.5rem;
 }

#top-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 161px 100vw;
    border-color: transparent transparent #004165; 
    position: initial;
    }
    
#rectangle {
background-color: #004165;
width: 100vw;
height: 20vh;
padding: 5vh;
position: initial;
}
    
#down-triangle{
width: 0;
height: 0;
border-style: solid;
border-width: 161px 100vw 0 0px;
border-color: #004165 transparent transparent ;
position: initial;
}

#testimonials {
    margin-bottom: 25px;
    margin-top: 25px;
}



#testimonials .container {
    height: auto;
    margin-bottom: 25px;
    position: initial; 
}

#testimonials h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

#testimonials h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#testimonials img {
    height: 200px;
    width: 160px;
    align-items: center;
    border-radius: 50%;

}

#testimonials p {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#testimonials div.col {
    width: 500px;
    padding-left: 1vw;
    padding-right: 1vw;
}




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#join {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    position: initial; 

}

#join {
    height: 40%;
    margin-top: 25px;
    color: white;
    background-color: #004165;
}

#join .row {
    height: 20em;
    margin-top: 25px;
}

#contact img {
    height: 40px;
    width: 40px;
}

#contact {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 650px) { 


      h2 a.navbar-brand{
          font-size: 32px;
      }

    .jumbotron {
        display: block;
    }

h1.mb-0{
    font-size: 1.5rem;
}

.blockquote-footer{
    font-size: 1.25rem;
}

img{ 
    margin: 0px;
    height: auto;
    width: auto;
   /* align-items: center; 
   display: none;
   overflow: hidden; */
}

}