#nav {
    background-color: #004165;
}

#nav .links {
    float: right;
}

#nav img {
    width: 87px;
    height: 72px;
}

#nav h2 a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 37px;
}

#nav a {
    color: #ffffff;
}

#scrolldown {
    height: 52px;
}

#scrolldown h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.jumbotron {
    padding-top: 22em;
    padding-left: 18em;
    padding-right: 10em;
    height: 70vh;
}

img {
    width: 440px;
    height: 710px;
    margin-left: 50px;
    margin-right: 50px;
}

#home {
    margin-bottom: 25px;
}

#aboutus {
    margin-bottom: 25px;
    margin-top: 25px;
}

#testimonials {
    margin-bottom: 25px;
    margin-top: 25px;
}

#join {
    margin-bottom: 25px;
    height: 40%;
    margin-top: 25px;
}

#aboutus a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    align-items: center;
}

#aboutus h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#aboutus h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#testimonials .container {
    height: auto;
    margin-bottom: 25px;
    margin-top: 60px;
}

#testimonials h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

#testimonials h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#testimonials img {
    height: 160px;
    width: 160px;
    align-items: center;
}

#testimonials p {
    text-align: justify;
}

#testimonials .col {
    padding-left: 50px;
    padding-right: 50px;
}

#join .row {
    height: 20em;
    margin-top: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#join {
    color: white;
    background-color: #004165;
}