.join-button-small {
    background-color: #288316;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    height: 50px;
    width: 170px;
    border: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}
.join-button-big {
    background-color: #288316;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    height: 100px;
    width: 340px;
    border: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}

a:checked {
    text-decoration: none;
    color: #ffffff;
}

.query-button {
    background-color: rgb(173, 55, 0);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    height: 50px;
    width: 170px;
    border: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}
