.about-ptm-who-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-ptm-who-img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.about-ptm-who-text {
    font-size: 1.3rem;
    font-family: Source Sans Pro;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
}
