* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: auto;
}

menu-button {
    border: black;
}
