
@media only screen and (max-width: 1400px) {
    .member-testimony {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.testimony {
    flex-basis: 100%;
    text-align: justify; 
}

.testimony img {
    display: block;
    margin: auto;
    margin-top: 20px;
    /* margin-right: auto; */
    flex-basis: 100%;
    height: 200px;
    width: 160px;
    align-items: center;
    border-radius: 25px;
}
