.testimonial-layout{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-auto-rows: minmax(300px auto);
    grid-gap: 30px;
    border: 2px;
    text-align: center;
}
.test{
    border-radius: 5px;
    margin: 10px;
    background-color: orangered;
    height: 100px;
}
.a{
    grid-column: 1 / 2;
    grid-row: 1 / 2
}

.b{
    grid-column: 2 / 3;
     grid-row: 1 / 2;
}

.c{
    grid-column: 3 / 4;
     grid-row: 1 / 2;
}

.d{
    grid-column: 2 / 3;
         grid-row: 2 / 3;
}

.e{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.case-study{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1400px) {
    .member-testimony {
        display: flex;
        flex-direction: row;
        margin-left: 7%;
        margin-right: 7%;
        flex-wrap: wrap;
    }
}

