.testimony-text {
    font-family: Source Sans Pro;
    font-weight: 500;
    font-size: 20px;
}

.member-testimony {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-right: 7%;
}

@media only screen and (max-width: 925px) {
    .member-testimony {
        display: flex;
        flex-direction: row;
        margin-left: 7%;
        margin-right: 7%;
        flex-wrap: wrap;
    }
}

.testimony {
    margin: 3%;
    flex-basis: 100%;
    text-align: justify;
}

.testimony img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    height: 200px;
    width: 160px;
    align-items: center;
    border-radius: 50%;
}
