.header {
    display: flex;
    padding: 1%;
    flex-direction: row;
    max-width: 100%;
    background-color: #004165;
    box-shadow: 0px 1px 5px #888, 0px 0px 5px #a9b2b1;
    color: #ffffff;
    vertical-align: baseline;
    justify-content: space-between;
    position: relative;
}

.one {
    display: flex;
}
.header-image {
    width: auto;
    height: 120px;
    display: block;
    justify-content: center;
    align-items: center;
}

.typography {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 30px;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
}
.header-info {
    width: auto;

    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 16px;
}
/* .header-info p {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 16px;
} */

.button {
    border-radius: 25px;
    background: #4bb543;
    padding: 20px;
    width: 180px;
    height: 25px;
    margin: 1;
    float: inline-end;
}

.button a {
    text-decoration: none;
    color: white;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 18px;
}

@media only screen and (max-width: 925px) {
    .header {
        display: inline-flex;
        flex-direction: column;
    }
    .header :nth-child(1) {
        order: 1;
    }
    .header :nth-child(2) {
        order: 1;
    }
    .header :nth-child(3) {
        order: 2;
    }

    .typography {
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 24px;
        margin-left: 1%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header-image {
        width: 20vw;
        height: auto;

        display: block;
        justify-content: center;
        align-items: center;
    }
    .header-info {
    }
    .button {
        border-radius: 25px;
        background: #4bb543;
        padding: 20px;
        width: 160px;
        height: 10px;
        margin: 1;
    }
    .button a {
        text-decoration: none;
        color: white;
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 14px;
    }
    .header-info p {
        padding-right: 2%;
        margin-left: -2%;
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 12px;
    }
}
