.top-triangle {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    z-index: -1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 161px 100vw;
    border-color: transparent transparent #004165;
    position: initial;
    clip-path: x= '0' y= '110' width= '90' height= '90';
}

.rectangle {
    background-color: #004165;
    width: auto;
    height: 200px;

    position: initial;
    text-align: center;
}

.down-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 161px 100vw 0 0px;
    border-color: #004165 transparent transparent;
    position: initial;
    /* filter: drop-shadow(0px 5px 5px #424242); */
}

.blockquote {
    color: #ffffff;
    width: auto;
    display: table;
    text-align: center;
    margin: 0 auto;
    font-family: Source Sans Pro;
}
