.image {
    padding: 2vh;
    max-width: 87px;
    max-height: 72px;
}

.typography {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 36px;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
