.footer {
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: #004165;
    box-shadow: 0px 1px 5px #888, 0px -10px 5px #a9b2b1;
    margin-top: 2%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 8%;
    padding-right: auto;
    padding-left: auto;
    position: relative;
}

.image {
    width: auto;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centreInDiv {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.section {
    list-style-type: none;
    justify-content: space-between;
    flex-direction: row;
    max-width: 15vw;
    flex-shrink: 5;
    flex-grow: 4;
}

.button {
    color: rgb(19, 19, 19);
}

@media only screen and (max-width: 925px) {
    .footer {
        bottom: 0;
        width: 100vw;
        height: auto;
        background-color: #004165;
        box-shadow: 0px 1px 5px #888, 0px -10px 5px #a9b2b1;
        margin-top: 2%;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mobile-section {
        /* On small screens, we are no longer using row direction but column */
        margin-left: 30px;
        margin-right: 30px;
        text-align: left;
        min-width: 200px;
        display: inline-block;
        justify-content: space-evenly;
        /* how much space taken flexing */
    }
    .mobile-centreInDiv {
    }
    p {
        display: inline-block;
    }
    .image {
        width: auto;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .section {
        display: inline-block;
        justify-content: space-around;
        max-width: 100px;

        vertical-align: top;
        justify-content: space-evenly;
    }
    .menu-section {
        padding-left: auto;
        padding-top: 20px;
    }

    .ptm-details {
        margin-left: auto;
        margin-right: auto;

        min-width: 200px;
        display: inline-block;
    }

    .ptm-details h4,
    h5,
    p {
        margin: 5px;
    }

    .ptm-details p {
        font-size: 14px;
    }

    .ptm-details h3 {
        font-size: 16px;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .join-button a {
        font-size: 14px;
    }
    .query-button a {
        font-size: 14px;
    }

    .one {
        order: 2;
    }

    .two {
        order: 3;
    }

    .three {
        order: 1;
    }
}
