.footer {
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: #004165;
    box-shadow: 0px 1px 5px #888, 0px -10px 5px #a9b2b1;
    margin-top: 2%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding-right: auto;
    padding-left: auto;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer a:checked {
    text-decoration: none;
    color: #ffffff;
}

.image {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centreInDiv {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.section {
    margin-left: 1vw;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: row;
    max-width: 19vw;
    margin: 10vw;
    flex-shrink: 5;
    flex-grow: 4;
}

@media only screen and (max-width: 925px) {
    .footer {
        bottom: 0;
        width: 100vw;
        height: auto;
        background-color: #004165;
        box-shadow: 0px 1px 5px #888, 0px -10px 5px #a9b2b1;
        margin-top: 2%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .section {
        /* On small screens, we are no longer using row direction but column */
        margin: 5%;
        list-style-type: none;
        width: 100vw;
        justify-content: flex-end;
        flex-flow: column wrap;
        flex-grow: 4;
        flex-shrink: 3;
        /* how much space taken flexing */
    }
}
