.footer {
    max-width: 100%;
    max-height: 320px;
    background-color: #004165;
    box-shadow: 0px 1px 5px #888, 0px -10px 5px #a9b2b1;
    margin-top: 2%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
}

.image {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centreInDiv {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.section {
    margin-left: 1vw;
    list-style-type: none;
    justify-content: space-between;
    width: 19vw;
    margin: 10px;
    padding: 20px;
}

@media only screen and (max-width: 700px) {
    .section {
        /* On small screens, we are no longer using row direction but column */
        flex-flow: column wrap;
    }
}

/* .section ul {
    list-style-type: none;
    float: left;
    margin-top: 25%;
}

.section-mail {
    list-style-type: none;
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-mail a img {
    width: 10vh;
    height: 10vh;
} */

/* @media only screen and (max-width: 768px) { */
/* For mobile phones: */
/* [class*='.section-mail'] {
        width: 100%;
        position: relative;
    }
}

.section ul li {
}

.section ul li a {
}

.made-by {
    text-align: center;
    margin: auto;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.made-by a {
    color: #f2df74;
} */
