h2 {
    font-family: Source Sans Pro;
    text-align: center;
    font-size: 36px;
}

.process {
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: Source Sans Pro;
}

.process-section {
    width: 25rem;
    padding: 15px;
    text-justify: auto;
}

.process-section h4 {
    text-align: center;
    font-size: 24px;
    margin: 5px;
    height: 62px;
}

.process-section p {
    align-items: center;
    text-align: justify;
    font-size: 20px;
    text-justify: inter-word;
}
.process-section  img {

    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15rem;
    height: 15rem;
    align-items: center;
    justify-content: center;

}

.join-us{
    font-family: Source Sans Pro;
    text-align: center;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .process {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }